body {
    margin: 0;}
    ​
    header {
    font-family: 'Courgette', cursive;
    color: white;
    }

    h1 h2 h3{
        font-family: 'Courgette', 'cursive';
    }
    P{
        font-family: "oswald" sans-serif;
 }